@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@mixin center {
    display: flex;
    align-items: center;
}

@mixin btnReset {
  outline: none;
  border: none;
  background: none;
}

$icolorLight: #e7580556;
$icolor : #9f9fff;
$icolorBright: #fff023;
$icolorG: #1d1d2c;
$dark : black;
$mainFont : 'Open Sans', sans-serif;
$secondFont: 'Roboto', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 98%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #45224f;
}
::-webkit-scrollbar-track {
  background: #ababab;
  border: 19px inset #9e9e9e;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #636363;
}
::-webkit-scrollbar-track:active {
  background: #452f6f;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


header{
    height: 80%;
    width: 100%;
    background: $icolorG;
    #nav{
        @include center();
        justify-content: space-between;
    }
    .socialLinks, .navLinks{
       @include center();
       font-size: 20px;
       animation: fade-in-bck 3s 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      }
    li{
        list-style: none;
        margin: 0px 20px 5px 20px;
        font-family: $mainFont;
        font-weight: 600;
        &:hover {
            color: $icolor; 
            animation: shake-bottom2 1.5s ease forwards infinite;
        }
        a{
            text-decoration: none;
            color: $icolorBright;
            max-width: 100%;

            &:hover {
                color: $icolor;
                animation: shadow-inset-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              }
            i{
              padding: 20px 0 0 10px;
              height: 2em;
              width: 1.5em;
            }
        }
    }

    #mainHeader{
      @include center();
      width: 100%;
      height: 70vh;
      justify-content: center;
      flex-direction: column;
    }
    
    #titleText{
      height: auto;

         h1{
            color: $icolor;
            font-family: $mainFont;
            font-weight: 600;
            font-size: 37px;
          //  margin: 50px 0 0 0;
            animation: expand 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            cursor: pointer;
            }
              .bright {
                color: $icolorBright;
                font-size: 42px;
            }
        }
    }
    
    
  
    
#headerButton{
  width: auto;
  height: auto;
  @include center();
  justify-content: center;
#projectBtn{
  animation: fade-in-bck 2s 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  width: auto;
  height: auto;
  padding: 5px 0 0 5px;
  font-family: $secondFont;
  font-size: 26px;
  font-weight: 300;
  @include btnReset();
 a{
   text-decoration: none;
   color: $icolorBright;
 }
  i{
    color: $icolor;
    font-size: 35px;
    overflow: visible;
    animation: shake-bottom2 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  }

}
}











@keyframes expand {
    0% {
      letter-spacing: -0.25em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }


  




  @keyframes shake-bottom {
    0%,
    100% {
              transform: rotate(0deg);
              transform-origin: 50% 100%;
    }
    10% {
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
              transform: rotate(4deg);
    }
    80% {
              transform: rotate(-2deg);
    }
    90% {
              transform: rotate(2deg);
    }
  }


  
 @keyframes slide {
  from {
     transform: translateX(100%);
  }

 to {
      transform: translateX(0%);
  }
}

  @keyframes shake-bottom2 {
    0%,
    100% {
              transform: rotate(0deg);
              transform-origin: 50% 100%;
    }
    10% {
              transform: rotate(1deg);
    }
    20%,
    40%,
    60% {
              transform: rotate(-1deg);
    }
    30%,
    50%,
    70% {
              transform: rotate(1deg);
    }
    80% {
              transform: rotate(-1deg);
    }
    90% {
              transform: rotate(1deg);
    }
  }
  

  @keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  
  @keyframes animation {
    100%{
     background-position:0px -3000px;
   }
 }



 // Media 

 @media screen and (max-width: 600px){
   header{
    background: $icolorG;
    #nav{
      .navLinks{
        font-size: 16px;
        margin-top: 14px;
        width: auto;
        height: auto;

        #workLink{
          display: none;
        }
      }
    
      .socialLinks{
        li{
          margin: 0;
          padding: 0 3px;
          &:hover{
            animation: none;
          }
        }
      }
    }
   

 

#mainHeader{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
   #titleText{

       #hi{
          color: $icolor;
          font-family: $mainFont;
          font-size: 26px;
          margin-right: 20px;
          }
            #hi2 {
              color: $icolorBright;
              font-size: 27px;
          }
      }
  
  }

  
#headerButton{
width: 100%;
height: auto;
margin: 0;
border: none;
outline: none;
#projectBtn{
width: 50%;
height: auto;
background: none;
padding: 0;
font-size: 18px;
}
}
   }
  }


  @media screen and (max-width: 420px){
    #headerButton{
    
      margin: 0;
      #projectBtn{
        i{
          animation: none;
        }
      }
    }
  }
 




